:root {
  --primary-color: oklch(20.5% 0 0);
  --secondary-color: oklch(0.6461 0.1943 41.12);
  --background-color: oklch(54.1% 0.281 293.009);
  --dark-gray: oklch(44.6% 0.03 256.802);
  --light-gray: oklch(96.7% 0.003 264.542);
  --red-color: oklch(63.7% 0.237 25.331);
  --green-color: oklch(63.7% 0.237 25.331);
  --blue-color: oklch(54.6% 0.245 262.881);
  --text-color: oklch(44.2% 0.017 285.786);
  --white: oklch(100% 0 0);
}

/* GENERAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  font-family: "Quicksand", sans-serif;
  color: var(--text-color);
}

ul,
li {
  list-style: none;
}

input {
  padding: 10px;
  border: 1px solid var(--dark-gray);
  border-radius: 5px;
  width: 100%;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 16px;

  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

label {
  font-weight: 500;
}

.select-option {
  width: 100%;
}

.btn {
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--light-gray);
  transition: all 0.3s ease-in-out;
  /* opacity: 80%; */
}

.btn:disabled:hover {
  background-color: inherit;
  color: inherit;
  cursor: not-allowed;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--light-gray);
}

.btn-swap {
  background-color: var(--primary-color);
  color: var(--light-gray);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn-swap:hover {
  transform: rotate(180deg);
  background-color: var(--secondary-color);
}
.btn-swap:active {
  transform: rotate(180deg) scale(0.95);
}

.active {
  background-color: var(--primary-color);
  color: var(--light-gray);
}
/* LAYOUT  */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

table {
  width: 100%;
  margin: 20px 0px;
}

table thead {
  background-color: var(--primary-color);
  color: var(--light-gray);
  padding: 10px 0px;
}

table th,
table td {
  padding: 10px;
}

tbody tr:hover {
  background-color: var(--light-gray);
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-weight: 600;
}

.heading {
  color: var(--secondary-color);
}

.heading-h2 {
  color: var(--secondary-color);
}

/* COMPONENTS  */

.header {
  background-color: var(--light-gray);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.subscribe-text {
  max-width: 640px;
  margin: 0 auto;
  line-height: 1.5;
  padding: 10px 0px;
}

.convert {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 20px 0;
}

.convert-card {
  background-color: var(--light-gray);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-convert {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-select {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 20px;
  /* width: 100%; */
}

.converted-result {
  margin: 10px 0px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.converted-result span {
  margin: 0;
  color: var(--secondary-color);
}

.popular-item {
  border: solid 1px var(--dark-gray);
  padding: 10px;
  border-radius: 5px;
}

.popular-item:hover {
  border-left: solid 5px var(--primary-color);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.popular-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-search {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  margin: 20px 0px;
}

.search-input {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 32px 0px;
}

/* UTILITY_CLASSES  */
